@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #d39990;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #22092C;
    color: aliceblue;
    padding: 18px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
}

.portada{
    background-color: aliceblue;
    width: 350px;
    height: 180px;
}

.cuadrito{
    width: 180px;
}


.presentacion{
    color: aliceblue;
    background-color: #22092C;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#imagenInfo{
    background-color: aliceblue;
    width: 150px;
    height: 150px;

}

#infobox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.informacion{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionesnifo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cita{
    background-color: #BE3144;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.citado{
    font-family: 'Nothing You Could Do', cursive;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.autor{
    font-weight: 100000;
}